<div id="archive-section">
<a class="archive-title" href="/archive.html">Explore Planning Center Developers</a>
<ul class="teams">
  <li><a href="/teams/devops.html">DevOps</a></li>
  /
  <li><a href="/teams/mobile.html">Mobile</a></li>
  /
  <li><a href="/teams/web.html">Web</a></li>
</ul>
</div>

<div class="bottom-footer">
<ul class="footer-links">
<li><a href="https://github.com/ministrycentered/developers">Documentation</a></li>
<li><a href="http://get.planningcenteronline.com">Get Planning Center</a></li>
</ul>
<div class="copyright">
  copyright {{ site.time | date: '%Y' }} Ministry Centered Technology
</div>
</div>