<div id="archive-section">
<a class="archive-title" href="/archive.html">Explore Planning Center Developers</a>
<ul class="teams">
  <li><a href="/teams/devops.html">DevOps</a></li>
  /
  <li><a href="/teams/mobile.html">Mobile</a></li>
  /
  <li><a href="/teams/web.html">Web</a></li>
</ul>
</div>

<a href="https://github.com/ministrycentered/developers">Documentation</a>
<a href="http://get.planningcenteronline.com">Get Planning Center</a>

<div class="copyright">
  copyright {{ site.time | date: '%Y' }} Ministry Centered Technology
</div>
