@import url(http://fonts.googleapis.com/css?family=Montserrat);


/* Global */

*
{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Montserrat, Helvetica, Sans-Serif;
  width: 100%;
}
a {
  color: #3A79C4;
}

body .row
{
  margin: 0px;
}

/* Sections */
.header
{
  background-color: #282828;
}

.top-header
{
  height: 550px;  
}

.top-header-container
{
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  width: 100%;
  float: none;
  padding: 150px 0px;
  text-align: center;
}

.top-header-container a
{
  color: #fff;
  text-decoration: none;
  font-size: 3em;
}

.top-header-container .tagline
{
  display: block;
  color: #666666;
  font-family: Georgia;
  font-size: 1.5em;
  font-style: italic;
  padding-top: 5px;
}

.top-header-container .tagline strong
{
  color: #fff;
  font-weight: normal;
}

#content
{
  max-width: 780px;
  margin: 0px auto;
  padding: 0px 30px;
}

/* Post */

#content .post
{
  margin-top: 30px;
}

#content .post img
{
  width: 100%;
  margin: 40px auto;
}

#content .post .title
{
  position: relative;
  border-bottom: 1px solid #aeaeae;
  margin-bottom: 20px;
  display: block;
  overflow: auto;
  padding: 9px 0px;
}

#content .post .title .meta
{
  font-size: 15px;
  font-family: Montserrat, Helvetica, Sans-Serif;
  font-style: normal;
  text-align: center;
}

#content .posts p, #content .post p
{
  color: #626262;
  font-size: 1.2em;
}

.highlight
{
  margin: 40px 0px;
}

/* List Post */
.list-post .title a, #content .post .title
{
  font-family: Georgia;
  font-size: 2em;
  font-style: italic;
  color: #d35248;
  text-align: center;
}

.list-post 
{
  margin-top: 140px;
  display: block;
  overflow: auto;
}
.list-post .title
{
  position: relative;
  border-bottom: 1px solid #aeaeae;
  margin-bottom: 20px;
  display: block;
  overflow: auto;
  padding: 9px 0px;
  text-align: center;
}
.list-post span.meta
{
  display: block;
  text-align: center;
}

.list-post .title .meta .date
{
  color: #454545;
}

.list-post .title .meta .team
{
  color: #d35248;
}

/* Footer Styles */


#archive-section
{
  background-color: #282828;
  text-align: center;
  padding: 130px 0px;
  margin-top: 130px;
}

#archive-section ul.teams
{
  color: #9c9c9c;
  margin-top: 20px;
}

#archive-section ul.teams li
{
  list-style: none;
  display: inline;
  font-size: 18px;
  padding: 0px 10px;
}

#archive-section ul.teams li a
{
  color: #d35248;
}


.archive-title
{
  color: #fff;
  font-size: 2em;
  font-family: Georgia;
  font-style: italic;
}

.bottom-footer
{
  background-color: #171717;
  overflow: auto;
}

.bottom-footer .copyright
{
  display: block;
  margin: 20px;
  text-align: center;
}

.footer-links
{
  display: block;
  margin: 20px;
}

.footer-links li
{
  display: block;
  list-style: none;
  padding: 16px 16px;
  text-align: center;
}

.footer-links li a
{
  color: #fff;
}
