@import url(http://fonts.googleapis.com/css?family=Montserrat);


/* Global */

*
{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Montserrat, Helvetica, Sans-Serif;
  width: 100%;
}
a {
  color: #3A79C4;
}

body .row
{
  margin: 0px;
}

/* Sections */
.header
{
  background-color: #282828;
}

.top-header
{
  height: 550px;  
}

.top-header-container
{
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  width: 100%;
  float: none;
  padding: 250px 0px;
  text-align: center;
}

.top-header-container a
{
  color: #fff;
  text-decoration: none;
  font-size: 3em;
}

.top-header-container .tagline
{
  display: block;
  color: #666666;
  font-family: Georgia;
  font-size: 1.5em;
  font-style: italic;
  padding-top: 5px;
}

.top-header-container .tagline strong
{
  color: #fff;
  font-weight: normal;
}

#content
{
  max-width: 750px;
  margin: 0px auto;
}

/* Post */
.list-post .title a
{
  font-family: Georgia;
  font-size: 2em;
  font-style: italic;
  color: #d35248;
}

#content .posts p
{
  color: #626262;
  font-size: 1.2em;
}

/* Post Lists */
.list-post 
{
  margin-top: 140px;
  display: block;
  overflow: auto;
}
.list-post .title
{
  position: relative;
  border-bottom: 1px solid #aeaeae;
  margin-bottom: 20px;
  display: block;
  overflow: auto;
  padding: 9px 0px;
}
.list-post span.meta 
{
  position: absolute;
  top: 22px;
  right: 10px;
  font-size: 15px;
}

.list-post .title .meta .date
{
  color: #454545;
}

.list-post .title .meta .team
{
  color: #d35248;
}

/* Footer Styles */


#archive-section
{
  background-color: #282828;
  text-align: center;
  padding: 130px 0px;
  margin-top: 130px;
}

#archive-section ul.teams
{
  color: #9c9c9c;
  margin-top: 20px;
}

#archive-section ul.teams li
{
  list-style: none;
  display: inline;
  font-size: 18px;
  padding: 0px 10px;
}

#archive-section ul.teams li a
{
  color: #d35248;
}


.archive-title
{
  color: #fff;
  font-size: 2em;
  font-family: Georgia;
  font-style: italic;
}

.bottom-footer
{
  background-color: #171717;
  overflow: auto;
}

.bottom-footer .copyright
{
  float: right;
  margin: 20px;
}

.footer-links
{
  float: left;
  margin: 20px;
}

.footer-links li
{
  display: inline;
  list-style: none;
  padding: 0px 16px;
}

.footer-links li a
{
  color: #fff;
}
